h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khacki;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
}

h3, .brushes, .frames {
    font-family:Helvetica;
    font-size: 32px;
    font-weight: 32px;
    color: white;
    background-color: mediumspringgreen;
}

span, .brushes, .frames {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

h4, .hacksawbrushes, .artframes{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

p {
    font-family: Helvetica;
    font-size: 12px
        color: black;
}
